@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Result

@section scripts {
<script type="text/javascript">
    $("#myform").submit(function(e) {
        $("#myLoadingElement").show();
    });
</script>
}

<body>

    <h2>Video classifier</h2>
    <p>Select a video and get suitable tags for the video. :)</p>
    <p></p>

    <header>
      <h2>Choose a video</h2>
    </header>

    <p>
        @Html.ValidationSummary(false)
        @using (Html.BeginForm("ProcessRequest", "Request", FormMethod.Post, new { @id = "myform"}))
        {

            <div class="form-group">
               
                <div class="col-md-10">
                    <input class="form-control" type="file" id="encryptfilefield" name="uploadedfileName" enctype='multipart/form-data'/>
                </div>
            </div>

            <br>

            <button type="submit" id="encryptfilebutton" class="btn btn-danger">Upload video</button>

        }
      @ViewBag.Message
    </p>
  
    <article>
    <p>
    @if(@Model != null && @Model.AllTags.Count > 0)
    {
            <h1>Result</h1>
        <table class="table table-bordered table-sm">
        <thead class="thead-light">
            <tr>
                <th>Tag</th>
                <th>Confidence</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in  @Model.AllTags)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => @b.Tag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => @b.Confidence)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }

    </p>
    </article>

    <footer>
      <p>
        <img src="@Url.Content("~/Content/loading_1.gif")" alt="image1" id="myLoadingElement" style="display: none;"/>
     </p>
    </footer>

</body>